.menu-style{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.bg-navbar{
    box-shadow: 4px 4px 4px #e2e1e1;
}
.nav-title, 
.nav-item{
    color: #1a4136;
}
@media (max-width: 767px){
    .nav-style .nav-title{
        padding-left: 1rem;
    }
}